.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .ad {
        position: relative;
        background-image: url(/_next/static/media/square.8967afe8.png);
        background-size: cover;
        height: 60%;
        width: 30%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        .editIcon {
            position: absolute;
            right: 0rem;
            top: 0rem;
        }

        .content {
            display: flex;
            align-items: center;
            height: 80%;

            .textContent {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                gap: 10px;
            }

            .imageContent {
                border-radius: 50%;
                border: 2px solid white;
                overflow: hidden;
                width: 330px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(-1rem) translateY(2rem);

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

        }

        .buttonSection {
            button {
                padding: 1vh;
                color: black;
                width: 20%;
                transform: translateX(1rem);
                text-transform: capitalize;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
    }
}